<% if current_user && current_user.admin? %>
  <div class="btn-group admin-menu">

    <%= link_to "Admin", main_app.admin_menu_path, class: "btn btn-primary dropdown-toggle", data: { toggle: "dropdown"} %>

    <ul class="dropdown-menu" data-no-turbolink="true">
      <li>
        <strong class="menu-heading item-with-options"> Manage Users </strong>
        <ul class="item-options">
          <li>
            <%= link_to('Roles', role_management.roles_path,
                        class: "item-option contextual-quick-classify", role: 'menuitem') %>
          </li>
        </ul>
        <strong class="menu-heading item-with-options"> Embargoes & Leases </strong>
        <ul class="item-options">
          <li><%= link_to "Embargoes", main_app.embargoes_path, class: "item-option contextual-quick-classify", role: 'menuitem' %></li>
          <li><%= link_to "Leases", main_app.leases_path, class: "item-option contextual-quick-classify", role: 'menuitem' %></li>
        </ul>
        <strong class="menu-heading item-with-options"> Bulk Updates </strong>
        <ul class="item-options">
          <li><%= link_to "Metadata", main_app.bulk_update_path, class: "item-option contextual-quick-classify", role: 'menuitem' %></li>
        </ul>
        <strong class="menu-heading item-with-options"> Content Manager </strong>
        <ul class="item-options">
          <li><%= link_to "Submitted Content", main_app.content_manager_path, class: "item-option contextual-quick-classify", role: 'menuitem' %></li>
        </ul>
      </li>
    </ul>

  </div>
<% end %>
